{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
    <div class="container car">
        {% if car.cover %}
          <img src="{{ car.cover.url }}" class="card-img-top" alt="...">
        {% else %}
          <img src="{% static 'img/no-image.png' %}" class="card-img-top">
        {% endif %}
        <p>{% trans "Car Owner:" %}</strong>{{ car.owner }}</p>
        <p>{% trans "Car Model:" %}</strong>{{ car.car_model }} </p>
        <p>{% trans "Licence plate:" %}</strong>{{ car.licence_plate }}</p>
        <p>{% trans "VIN code:" %}</strong>{{ car.vin_code }}</p>
        <p>{% trans "Description:"%}{{ car.description | safe }}</p>
    </div>
{% endblock %}