{% extends "base.html" %}

{% block content %}
    <h1>My cars</h1>

    {% if order_list %}
    <ul>

      {% for order in order_list %}
        <img class="rounded-circle" src="{{order.client.profile.picture.url}}">
      <li class="{% if order.is_overdue %}text-danger{% endif %}">{{ order.car }}</li>
        <li><strong>Due to:</strong> {{order.due_date}}</li>
        <br/>
        <a class="btn btn-primary" href="{{ order.pk }}" role="button">Review</a>
        <br>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>You do not have any cars at the moment</p>
    {% endif %}
{% endblock %}
